/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

.photo {
    width: 290px; /* Set a fixed width for both images */
    height: 290px; /* Set a fixed height for both images */
    object-fit: cover; /* Ensures the images fill the area without distortion */
  }
  
  .minor-section {
      padding: 10px;
      margin-bottom: 10px;
      border: solid 1px hwb(0 73% 27%);
      background-color: #d7eff0;
  } 
  
  #content {
    margin: 10px;
    padding: 10px;
    border: solid 0px #756e9c;
    background-color: hwb(246 84% 0%);
  }

     
  body {
    background-color: hwb(251 22% 47%);
  }

  .special {
    font-weight: bold;
    font-family:"comic sans MS";
    font-size: 16x;
    background: linear-gradient(45eg,) rgb(196, 221, 245); 
    border: dotted 5px rgb(129, 117, 214);
    webkit-background-clip: text;
    webkit-text-color: Transparent; 
  
    color: transparent;
    background-color: hwb(247 69% 7%);
    mix-blend-mode: multiply;

    button {
    background-color:  #262146;
    color: rgb(192, 227, 246);
    border: 3px;
    cursor: pointer;
    border-radius: 5px;
  
    }

    
}
