/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

.photo {
    width: 290px; /* Set a fixed width for both images */
    height: 290px; /* Set a fixed height for both images */
    object-fit: cover; /* Ensures the images fill the area without distortion */
  }
  
  .minor-section {
      padding: 10px;
      margin-bottom: 10px;
      border: solid 1px hwb(300 69% 0%);
      background-color: #8b80db;
  } 
  
  #content {
    margin: 10px;
    padding: 10px;
    border: solid 0px #9b91c9;
    background-color: hwb(258 50% 6%);
  }
     
  body {
    background-color: hwb(254 11% 66%);
  }