/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

.photo {
    width: 290px; /* Set a fixed width for both images */
    height: 290px; /* Set a fixed height for both images */
    object-fit: cover; /* Ensures the images fill the area without distortion */
  }
  
  .minor-section {
      padding: 10px;
      margin-bottom: 10px;
      border: solid 1px rgb(0, 0, 0);
      background-color: #b2d7d5;
  } 
  
  #content {
    margin: 10px;
    padding: 10px;
    border: solid 0px rgb(164, 203, 178);
    background-color: rgb(169, 255, 224);
    .p1 {
      font-family: "Times New Roman", Times, serif;
    }
  }
     
  body {
    background-color: rgb(141, 197, 156);
  }
 
  